@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark: #1c2031;
  --clr-white: #fff;
  --max-width: 1140px;
  --transition: all 0.5s ease;
  
}

/* pseudo elements in css */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  /*background-color: linear-gradient(#e66465, #9198e5) ;*/
  background-image: url(/form\ img2.webp);
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 0.75rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: #fff;
  border: 2px solid #1c2042;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    max-width: 30rem;
    width: 24rem;
    margin:0 auto ;
    padding: 0.5rem 1rem 2rem 1rem;
    background: linear-gradient(#e66465, #9198e5); ;
    color: var(--clr-white);
    border-radius: 10px ;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;

}
.submit-form{
    margin-top: 0.5rem;
    
    
}

.form-control label,
.form-control input{
    display: block;
    width: 100%;
    margin-top: 0.5;
    margin-bottom: 0.5rem;

}
.form-control label{
    font-size: 1rem;
    font-weight: 700;
}

.form-control input{
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
}


.form-control.error input{
    border-color: red;
}
.form-control.succuss input{
    border-color: green;
}

.form-control small{
    color: red;
    font-size: 1.0rem;
    margin-bottom: 0.1rem;
    visibility:hidden ;
    
}
.form-control.error small{
    visibility: visible;
}


.btn-light{
    background-color: var(--clr-white);
    border: 2px solid var(--clr-white);
    color: var(--clr-dark);
    transition: var(--transition);
}

.btn-light:hover{
    background-color: transparent ;
    color: var(--clr-white);
}

.btn-block{
    display: block;
    width: 100%;
    margin: .5rem auto;
}

@media screen and (min-width:768px){
    .card{
        width: 23rem;
    }

}

